tbody {
    font-size: 11px;
}

.no-data {
    color: #696969;
}

.list-elements {
    border-top: 1px solid #C6C6C6;
    clear: left;
    color: #333333;
    font-family: "Arial", "Helvetica", Sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.info-msg {
    font-size: 14px;
}